div.footer {
    width: 100%;
    padding: 2rem 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;

    > .container{
        .footer .top, .bottom {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

    }
}

 h3 {
    color: var(--primary-light);
}



 .social {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-left: 50px;
}

 .icon {
   color: var(--primary-light);
}

 .left, .right {
    display: flex;
    align-items: center;
}

 ul {
    display: flex;
    list-style-type: none
}

 li {
    padding: .5rem;
}

@media screen and (max-width: 1140px) {
    .footer ul {
        flex-direction: column;
    }
}